<style>
  .age-container {
    display: flex;
    align-items: center;
  }
  .age-container h1 {
    margin-right: 15px; 
  }

  .profile-detail {
    position: relative;
    align-items: center;
    bottom: 200px; 
    left: 200px;
  }
  .profile-detail {
    margin-right: 5px;
  }

  .body {
    position: relative;
    bottom: 140px;  
  }

  .foll {
    display: flex;  
  }

</style>

<% if current_user.id == @profile.user_id %>
  <h1>YOUR PROFILE</h1>
<% else %>
  <h1>PROFILE</h1>
<% end %>
<%= image_tag(@profile.profile_pic, size: "170x180", style: 'border-radius: 50%;', class: 'css_class')  %>
<div class = "profile-detail">

    <h1>User name:- <%= @profile.username %></h1><br>
    <div class = "age-container">
        <h2>AGE:</h2>
        <h3><%= @profile.age %></h3>
    </div>
</div>


<div class = "body" >
<div class = "foll" >
<% if current_user.role != "NonPreciousian" %>
<% followers_count = @profile.user.followings.size %>

<h2> Followers:- <%= link_to followers_count, show_followers_path(@profile.id) %>

<% following_count = @profile.user.all_following.size %>

 <h2> Following:- <%= link_to following_count, show_followings_path(@profile.id) %><br><br> 

</div>
<% end %>

<% if current_user.id == @profile.user_id %>
    <%= link_to "CHANGE PASSWORD", edit_user_registration_path %><br><br>

    <%= button_to "Delete Account", registration_path(current_user), method: :delete, data: { confirm: "Are you sure you want to delete your account?" } %>

<% else %>
    <% if current_user.following? @profile.user %>
      
      <%= button_to "UnFollow", unfollow_path(@profile.user.id ) %><br>
      <%= button_to "CHAT" %>
    <% else %>
      
      <%= button_to 'Follow', follow_path(@profile.user.id) %>
    
    <% end %>
<% end %>

<% unless current_user.role == "NonPreciousian" %>
<% if current_user.id == @profile.user_id %>

  <% if current_user.posts.size > 0 %>
  <h1>- - - - YOUR POSTS - - - -</h1>
  <% else %>
  <h1>YOU DON'T HAVE ANY POST</h1>
  <% end %>

<% else %>

  <% if User.find( @profile.user_id ).posts.count > 0 %>
  <h1>POSTS</h1>
  <% else %>
  <h1>USER HAS NO POST</h1>
  <% end %>

<% end %>
<% end %>
<% User.find( @profile.user_id ).posts.each do |p| %>
    <%= p.title %><br>
        <% p.pictures.each do |p| %>
           <%= image_tag( p, size: "350x360", style: 'border-radius: 20%;') %>
        <% end %>
    <%= p.body %>
    <%= p.get_likes.size %> LIkes<br>
    <% if current_user.liked? p %>
      <%= button_to "unlike", unlike_path( p.id)  %>
    <% else %>
      <%= button_to "like", like_path(p.id) %>
    <% end %><br>
  <%= link_to "VIEW COMMENTS", user_post_comments_path(current_user, p.id) %><br>
  <%= link_to "Add Comment", new_user_post_comment_path(current_user, p.id ) %>
    <%#= link_to "Comments", user_post_comments_path(@profile.user, p.id ) %>
    <%= button_to "DELETE POST", user_post_path(current_user.id, p.id), data: { turbo_method: :delete, turbo_confirm: "Confirm delete" } %>
    <hr>
<% end %>
</div>
