<%= form_with model: [@user, @contact_us] do |f| %>

  <% if @contact_us.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contact_us.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @contact_us.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>