<% @posts.each do |p| %>
<div>
  <strong>USER:- </strong>
  <%= p.user.name %><br>
  <%= p.title %><br>
  <%
=begin%>
 <% if p.avatar.attached? %>
    <image src = " <%= (url_for(p.avatar)) %> ">
  <% end %> 
<%
=end%>
  <%#= image_tag(p.image) %>
  <%= image_tag(p.image, size: "300x260") %>
  <%= p.body %>

  <% p.pictures.each do |pics| %>
    <%= image_tag(pics, size: "200x100") %>
  <% end %>
  <hr />

</div>
<% end %>