<%= form_with model: [ current_user, current_user.posts.build] do |f| %>
<%
=begin%>
 
  <div>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div> 
<%
=end%>

  <div>
    <%= f.label :pictures %><br>
    <%= f.file_field :pictures, multiple: true %>
  </div>
  

  <div>
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.rich_text_area :body %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>