<%= @post.each do |p| %>
  <p>
    <strong>Title: </strong>
    <%= p.title %><br>
  </p>
  <%= p.body %>
  <br />
  <%= p.image %>
  <hr />
  <%= p.pictures.each do |pics| %>
    <%= pics %>
  <% end %>

  <%# if @user.avatar.attached? %>
    <%
=begin%>
 <image src = " <%= (url_for(@user.avatar)) %> "> 
<%
=end%>
<% end %>
