    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
    .menu-btn {
        background-color: #040008;
        color: white;
        padding: 16px;
        font-size: 20px;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: none;
    }

    .dropdown-menu {
        position: relative;
        display: inline-block;
        left: 310px;
    }

    .menu-content {
        display: none;
        position: absolute;
        background-color: #017575;
        min-width: 160px;
        z-index: 1;
    }

    nav {
        background-color: #017575;
    }

    .links,
    .links-hidden {
        display: inline-block;
        color: rgb(255, 255, 255);
        padding: 12px 16px;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }

    .links-hidden {
        display: block;
    }

    .links {
        display: inline-block;
    }

    .links-hidden:hover,
    .links:hover {
        background-color: rgb(8, 107, 46);
    }

    .dropdown-menu:hover .menu-content {
        display: block;
    }

    .dropdown-menu:hover .menu-btn {
        background-color: #3e8e41;
    }

    .search {
        position: absolute;
        left: 360px;
        top: 44px;
    }

    .p-p {
        position: absolute;
        left: 360px;
        top: 27px; 
    }

    .p-n {
        position: absolute;
        left: 430px;
        top: 40px; 
        size: "50x50";
    }

    .n-c {
        position: -webkit-sticky; /* Safari */
    }
    
 
    </style>

    <nav class = "n-c" >
    
        <a class="links">
        <div class = "links">
        <%= link_to "HOME", user_posts_path(current_user), {:style=>'color:#FFFFFF;', :class => "css_class"} %>
        </div>
        </a>

        <a class="links">
        <div class = "links">
        <%= link_to "CREATE POST", new_user_post_path(current_user), {:style=>'color:#FFFFFF;', :class => "css_class"} %>
        </div>
        </a>

        <a class="links">
        <div class = "links">
        <%#= link_to "PROFILE", user_profile_path(current_user, current_user.profile.id) %>
        <% unless current_user.profile.present? %>
            <%= link_to "CREATE PROFILE", new_user_profile_path(current_user), {:style=>'color:#FFFFFF;', :class => "css_class"} %>
        <% else %>
            
            <% if current_user.profile.id != nil %>
            <%= link_to "PROFILE", user_profile_path(current_user, current_user.profile.id), {:style=>'color:#FFFFFF;', :class => "css_class"} %>
            <% end %>
            </div>
        <% end %>
        <%#= link_to "PROFILE", user_profile_path(current_user, current_user.profile.id) %>
        </a>
        
        
        <% if current_user.role == "Preciousian" %>
        <%#= form_tag(search_user_path(), method: :get, class: "search-form") do %>
        <%#= form_tag(search_user_path(current_user, "tommy"), method: :get, class: "search-form") do %>
            <%#= text_field_tag :search, params[:search], placeholder: "Search User..." %>
            <%#= submit_tag "Search", class: "search-button" %>
        <%# end %>
        <% end %>

        <% if current_user.role == "Admin" %>
        <div class = "links">
            <%= link_to "Pending Confirmations", approve_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %>
        </div>
        <% end %>

        <div class="dropdown-menu">
            <button class="menu-btn">Open</button>
            <div class="menu-content">
                <a class="links-hidden">
                <%= button_to "LOG OUT", destroy_user_session_path, :method => :delete,
                      :data => { :no_turbolink => true} %>
                </a>
                <a class="links-hidden">
                <%= button_to "EDIT PROFILE" %>
                </a>
                <a class="links-hidden">
                <%= button_to "CHATS" %>
                </a>
            </div>
        </div>
    
    </nav>