<!DOCTYPE html>
<html>
  <head>

  <style>
  <%= ".msg-#{current_user&.id}" %> {
  background-color: #007bff !important;
  padding: 10px;
  }
  <%= ".cont-#{current_user&.id}" %> {
  display: flex;
  justify-content: flex-end
   }
  </style>


    <title>PreciousConnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if user_signed_in? %>
      <%= link_to "Chat", rooms_path %>
      <strong>WELCOME <%= current_user.name %></strong>

      <% role_list = ["Preciousian", "Admin", "NonPreciousian"] %>
        <% if role_list.include? current_user.role and current_user.confirm_by_admin == true %>
          <%= render template: "layouts/_navbarprecisousian" %>
    <% else %>
        <h1> Please wait till admin approve your profile </h1>

      <% end %>
    <% end %>
    
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
