<!DOCTYPE html>
<html>
  <head>

  <style>
  <%= ".msg-#{current_user&.id}" %> {
  background-color: #007bff !important;
  padding: 10px;
  }
  <%= ".cont-#{current_user&.id}" %> {
  display: flex;
  justify-content: flex-end
   }

  <%= ".notice-#{}" %> 
  </style>


    <title>PreciousConnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if user_signed_in? %>
      <% role_list = ["Preciousian", "Admin", "NonPreciousian"] %>
        <% if role_list.include? current_user.role and current_user.confirm_by_admin == true %>
          <strong>WELCOME <%= current_user.name %></strong>
          <%= render template: "layouts/_navbarprecisousian" %>
        <% else %>  
          <%= render "layouts/confirm_first" %>
        <% end %>
    <% else %>

        <%#= link_to "SIGN UP", new_user_registration_path %><br>
        <%#= link_to "SIGN IN", new_user_session_path %> 

    <% end %>

  </head>

  <body>

  
 
 <p class="notice"><%= notice %></p> 

    <%
=begin%>
 <span style='color: red;'><%= notice %></span> 
<%
=end%>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>