<!DOCTYPE html>
<html>
  <head>
    <title>PreciousConnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if user_signed_in? %>
      <strong>WELCOME <%= current_user.name %></strong>

      <% role_list = ["Preciousian", "Admin"] %>
        <% if role_list.include? current_user.role and current_user.confirm_by_admin == true %>
        <%= render template: "layouts/_navbarprecisousian" %>
      <% else %>
        <h1> Please wait till admin approve your profile </h1>
        <%= button_to "LOG OUT", destroy_user_session_path, :method => :delete,
                :data => { :no_turbolink => true} %>
      <% end %>
    <% end %>
    
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
